/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 24, 2022, 11:19:45 PM
    Author     : User
*/
.left-form{
    -fx-background-color: linear-gradient(to bottom right,#2a898b,#c2ccc3);
    -fx-border-color: #000;
    -fx-border-width: .4px 0px .4px .4px;
}
.right-form{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .4px 0px;
    
}
.close{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.close:hover{
    -fx-background-color: #a51cc0;
}
.textfield{
    -fx-background-color: transparent;
    -fx-border-color: #000;
     -fx-border-width: .4px;
     -fx-border-radius: .4px;
     -fx-font-family:"Tahoma";
     -fx-font-size:13px;
}
.textfield:focused{
    -fx-background-color: linear-gradient(to bottom right,#2a898b,#7d0379);
    
}
.login-btn{
    -fx-background-color: linear-gradient(to bottom right,#2a898b,#7d0379);
    -fx-border-radius: 15px;
    -fx-cursor: hand;
    -fx-font-size:14px;
    -fx-text-fill: #fff;
    -fx-font-size:"Arial";
}


